<%- include("partials/header"); %>

<script src="//cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.1/tinymce.min.js"></script>
<div class="container" style="margin: 20px;">
  
  <form action="/post" accept="image/x-png,image/gif,image/jpeg" enctype="multipart/form-data" method="post">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" name="title" id="Title" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Description</label>
      <textarea class="form-control" name ="desc" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="mb-3">
      <label for="categories" class="form-label">Categories</label>
      <input type="text" name="categories" id="Title" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div>
      <label for="image">Chose image for your post:</label>
        <input type="file" name="image" id="image" required>
      </div>
      <button type="submit" class="bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    </form>
  </div>

  <!-- JavaScript Bundle with Popper -->
  

<script>
  tinymce.init({ selector:'textarea' });
</script>
<%- include("partials/footer"); %>
